doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='Content-Security-Policy' content="style-src 'self' 'unsafe-inline'; media-src *; connect-src 'self' http://#{host}:#{port} ws://#{host}:#{port} https://#{host} wss://#{host}")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title= title
    base(href="#{base}")
    meta(name='author', content='#{author}')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='Resource-type', content='Document')
    if enviroment == 'dev' && html5Mode == true
       link(rel='stylesheet', type='text/css', href='scss/index.scss')
    else
       link(rel='stylesheet', type='text/css', href='css/index.css')
    if enviroment == 'prod' && ganalytics != 'ganalytics'
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '#{ganalytics}', 'auto');
        ga('send', 'pageview');
  body(ng-app='app', ng-cloak='')
    #appData.hidden(data-host='#{host}', data-name='#{title}', data-html5mode='#{html5Mode}', data-preUrl='#{preUrl}')
    #loading.loading-cont
      .loading(layout="row" layout-align="center center")
        md-progress-circular(md-mode="indeterminate", md-diameter="128")
    div(ng-controller='NavController', layout='column', ng-cloak='')
      section(layout='row', flex='')
        md-sidenav.site-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left')
          md-toolbar.md-theme-red
            h1.md-toolbar-tools #{title}    
          md-content(layout-padding='', ng-controller='NavLeft' flex role='navigation')
            ul(class='nav-menu')
              li(ng-repeat="section in nav.sections" class="parent-list-item {{section.className || ''}}" ng-class="{'parentActive' : isSectionSelected(section)}")
                h2(class="menu-heading md-subhead" ng-if="section.type === 'heading'" id="heading_{{ section.name }}") {{section.name}}
                nav-link(section="section" ng-if="section.type === 'link'")
                nav-toggle(section="section" methods="navMethods" ng-if="section.type === 'toggle'")
                ul(ng-if="section.children" class="menu-nested-list")
                  li(ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}")
                    nav-link(section="child" ng-if="child.type === 'link'")
                    nav-toggle(section="child" methods="navMethods" ng-if="child.type === 'toggle'")
        md-toolbar
          .md-toolbar-tools
            md-button.md-icon-button(ng-click='toggleLeft()', aria-label='Menu')
              md-icon(md-svg-icon='img/icons/menu.svg')
            img.menuLogo(src="img/logo.png")
            span(flex='')
            md-fab-toolbar(count='2', md-direction='left')
              md-fab-trigger
                md-button.md-icon-button(aria-label='User')
                  md-icon(md-svg-src='img/icons/more_vert.svg')
              md-toolbar
                md-fab-actions.md-toolbar-tools
                  md-button.md-icon-button(ng-click='toggleRight()', aria-label='comment')
                    md-icon(md-svg-src='img/icons/ic_comment_24px.svg')
                  md-button.md-icon-button(ng-click='toggleRight()', aria-label='More')
                    md-icon(md-svg-icon='img/icons/ic_email_24px.svg')
        md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right')
          md-toolbar.md-theme-light
            h1.md-toolbar-tools Sidenav
          md-content(ng-controller='NavRight', layout-padding='')
            md-button.md-primary(ng-click='close()') Close Sidenav
      md-content(flex='')
        div(layout='column', layout-fill='', layout-align='top center' ng-view)
    script(src="cordova.js")
    if enviroment == 'prod'
       script(src='js/index.min.js')
    else
       script(src='js/index.bundle.js')
